@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");

/* body {
  font-family: "Montserrat", sans-serif;
} */

nav img {
  height: 38px;
}

.banner .container > * {
  flex-basis: 100%;
}

/* .services .container .row > * {
  flex-basis: 100%;
} */

.services .row .col-12 div img {
  height: 85px;
}

@media screen and (min-width: 992px) {
  .services .row .col-12 div {
    gap: 1.5rem;
    text-align: left;
  }
  .services .row .col-12 div .text {
    flex-basis: 80%;
  }
  .services .row .col-12 div .image {
    flex-basis: 20%;
  }
}
